* {
 margin: 0;
 padding: 0;
    box-sizing: border-box;
  }
 
  body {
    background-color: #EEEEEE
  }

  a:hover {
    color: rebeccapurple;
  }

  a {
    color: black;
  }

li {
    list-style-type: none;
    height: 100px;
}


  #back {

display: flex;
justify-content: flex-end;
background-color: #F15412;
margin-bottom: 10px;
  }

  #list {

display: flex;
justify-content: center;
  }

  .back {
text-decoration: none;
font-size: 3em;
padding-right: 25px;
  }

  .list {
text-decoration: none;
font-size: 2em;
  }

  
/* Mobile Styles */
@media only screen and (max-width: 415px) {
    
   
      
   }
   
   /* Tablet Styles */
   @media only screen and (min-width: 416px) and (max-width: 960px) {
   
     

   }
